<a href="https://colab.research.google.com/github/Mimansa-Negi/PYTHON1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

lambda function to add two numbers

In [2]:
x=lambda a,b:a+b
print(x(10,20))

30

lambda function to find greatest number

In [3]:
x=(lambda n,m:(n>m and n or m))
print(x(10,16))

16

lambda function to find even or odd

In [4]:
x=(lambda x:(x%2 and 'odd' or 'even'))
print(x(9))

odd

lambda inside a function

In [6]:
def double(n):
  return lambda a:a*n
cal=double(2)
print(cal(4))

8

lambda with filter()

In [8]:
numbers=[1,3,6,2,7,5,8,4,9,0]
result=filter(lambda x:x<5, numbers)
print(numbers)
print(list(result))

[1, 3, 6, 2, 7, 5, 8, 4, 9, 0]
[1, 3, 2, 4, 0]

lambda with map()

In [9]:
def square(n):
  return n*n
result=map(square,[1,2,3,4])
print(list(result))

[1, 4, 9, 16]

lambda with reduce(()

In [11]:
from functools import reduce
numbers=[1,2,3,4,5]
prod=reduce(lambda x,y:x*y,numbers)
print(prod)

120

addition of two numbers without + operators

In [13]:
n,m=5,6
print(n-(-m))

11

substraction of two numbers without - operators

In [16]:
n,m=19,8
print(n+(~m+1))

11

multiplication of two numbers without using * operators

In [20]:
n,m=7,8
sum=0
for i in range(1,n+1):
   sum=sum+m
print(sum)

56

division of two numbers without using / operators