<a href="https://colab.research.google.com/github/Mimansa-Negi/PYTHON1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pattern 1

In [ ]:
for x in range(1,6):
  for y in range(1,6):
    print("*",end="")
  print()

*****
*****
*****
*****
*****

pattern 2

In [ ]:
for x in range(1,6):
  for y in range(1,6):
    print(x,end="")
  print()

11111
22222
33333
44444
55555

pattern 3

In [ ]:
for x in range(1,6):
  for y in range(1,6):
    print(y,end="")
  print()

12345
12345
12345
12345
12345

pattern 4

In [ ]:
for x in range(5,0,-1):
  for y in range(5,0,-1):
   print(x,end="")
  print()

55555
44444
33333
22222
11111

pattern 5

In [ ]:
for x in range(5,0,-1):
  for y in range(5,0,-1):
    print(y,end="")
  print()

54321
54321
54321
54321
54321

pattern 6

In [ ]:
n=5
k=1
for x in range(1,n+1):
  for y in range(1,n+1):
    print("{:2d}".format(k),end="")
    k=k+1
  print()

 1 2 3 4 5
 6 7 8 910
1112131415
1617181920
2122232425

pattern 7

In [ ]:
n=5
k=1
for x in range(1,n+1):
  for y in range(1,n+1):
    print("{:2d}".format(k),end="")
    k=k+2
  print()

 1 3 5 7 9
1113151719
2123252729
3133353739
4143454749

pattern 8

In [ ]:
n=5
k=2
for x in range(1,n+1):
  for y in range(1,n+1):
    print("{:2d}".format(k),end="")
    k=k+2
  print()

 2 4 6 810
1214161820
2224262830
3234363840
4244464850

pattern 9

In [ ]:
for x in range(1,6):
  for y in range(1,6):
    print("{}".format(x*y),end="")
  print()

12345
246810
3691215
48121620
510152025

pattern 10

In [ ]:
for x in range(1,6):
  for y in range(1,4):
    print("{}{}".format(y,x),end="")
  print()

112131
122232
132333
142434
152535

pattern 11

In [ ]:
for x in range(1,6):
  for y in range(1,4):
    print("{}{}".format(x,y),end="")
  print()

111213
212223
313233
414243
515253

pattern 12

In [ ]:
n=5
for x in range(1,n+1):
  p=x
  for y in range(1,n+1):
    print("{:2d}".format(p),end=" ")
    p+=n
  print()

 1  6 11 16 21
 2  7 12 17 22
 3  8 13 18 23
 4  9 14 19 24
 5 10 15 20 25

pattern 13

In [ ]:
n=5
for x in range(1,n+1):
  p1=x
  p2=n-x+1
  for y in range(1,n+1):
    if(y%2==1):
      print("{:2d}".format(p1),end=" ")
    else:
      print("{:2d}".format(p2),end=" ")
    p1=p1+n
    p2=p2+n
  print()

 1 10 11 20 21
 2  9 12 19 22
 3  8 13 18 23
 4  7 14 17 24
 5  6 15 16 25

pattern 14

In [ ]:
n=5
for x in range(1,n+1):
  p=n-x+1
  for y in range(1,n+1):
    print("{:2d}".format(p),end=" ")
    p=p+n
  print()

 5 10 15 20 25
 4  9 14 19 24
 3  8 13 18 23
 2  7 12 17 22
 1  6 11 16 21

pattern 15

In [ ]:
n=5
for x in range(1,n+1):
  p1=x
  p2=n-x+1
  for y in range(1,n+1):
    if(y%2==0):
     print("{:2d}".format(p1),end=" ")
    else:
     print("{:2d}".format(p2),end=" ")
    p1=p1+n
    p2=p2+n
  print()

 5  6 15 16 25
 4  7 14 17 24
 3  8 13 18 23
 2  9 12 19 22
 1 10 11 20 21

pattern 16

In [2]:
n=5
for x in range(1,n+1):
  for y in range(1,n+1):
    print(str(x+y-1)+" ",end="")
  print()

1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9

pattern 17

In [6]:
n=5
for x in range(1,n+1):
  for y in range(1,n+1):
    print("{:2d}".format((2*(x+y))-3),end="")
  print()

 1 3 5 7 9
 3 5 7 911
 5 7 91113
 7 9111315
 911131517

pattern 18

In [9]:
for x in range(1,6):
  for y in range(1,6):
    print(str((x+y)%2),end="")
  print()

01010
10101
01010
10101
01010

pattern 19

In [11]:
for x in range(1,6):
  for y in range(0,5):
    print(str((x+y)%2),end="")
  print()

10101
01010
10101
01010
10101

pattern 20

In [12]:
for x in range(1,6):
  for y in range(1,6):
    print(str((x*y)%2),end="")
  print()

10101
00000
10101
00000
10101

pattern 21

In [14]:
for x in range(1,6):
  for y in range(0,6):
    print(str((x*y)%2),end="")
  print()

010101
000000
010101
000000
010101

pattern 22

In [15]:
for x in range(0,5):
  for y  in range(1,6):
    print(str(x%2),end="")
  print()

00000
11111
00000
11111
00000

pattern 23

In [17]:
for x in range(1,n):
  for y in range(0,5):
    print(str(x%2),end="")
  print()

11111
00000
11111
00000

pattern 24

In [21]:
for x in range(1,6):
  for y in range(0,6):
    print(str(y%2),end="")
  print()

010101
010101
010101
010101
010101

pattern 25

In [23]:
for x in range(1,6):
  for y in range(1,6):
    print(str(y%2),end="")
  print()

10101
10101
10101
10101
10101

pattern 26

In [25]:
for x in range(65,70):
  for y in range(65,70):
    print(chr(x),end="")
  print()

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

pattrern 27

In [27]:
for x in range(65,70):
  for y in range(65,70):
    print(chr(y),end="")
  print()

ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

pattern 28

In [30]:
for x in range(69,64,-1):
  for y in range(69,64,-1):
    print(chr(x),end="")
  print()

EEEEE
DDDDD
CCCCC
BBBBB
AAAAA

pattern 29

In [31]:
for x in range(69,64,-1):
  for y in range(69,64,-1):
    print(chr(y),end="")
  print()

EDCBA
EDCBA
EDCBA
EDCBA
EDCBA

pattern 30

In [33]:
for x in range(1,5):
  for y in range(0,5):
    print(chr(64+x+y),end="")
  print()

ABCDE
BCDEF
CDEFG
DEFGH

pattern 31

In [39]:
m=0
for x in range(1,6):
  for y in range(1,6):
    print(chr(65+m),end="")
    m+=1
  print()

ABCDE
FGHIJ
KLMNO
PQRST
UVWXY

pattern 32

In [47]:
m,n=0,5
for x in range(0,5):
  p=x
  for y in range(1,6):
    x+=n
    print(chr(x-n+65),end="")
    
  print()

AFKPU
BGLQV
CHMRW
DINSX
EJOTY